@charset "utf-8";

/* ****************************************************
Title: print.css
Created: 2010/01/12
Last Modified: 2011/01/14
Editor(s): nishio
Last Editor: tsutsu
***************************************************** */


/* Table Of Contents
----------------------------------------

# Adjusts for print
# gNav
# lNav

----------------------------------------*/


/* Adjusts for print
---------------------------------------------------------------------------- */

* html body {
	zoom: 70%;
}


/* gNav
---------------------------------------------------------------------------- */

ul#gNav li a img {
	visibility: visible !important;
}


/* # lNav
---------------------------------------------------------------------------- */

div#lNav a img {
	visibility: visible !important;
}
